* {
    font-family: Roboto !important;
    font-weight: bold !important;
}

.main {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

body {
    background-color: #3EECAC;
    background-image: linear-gradient(19deg, #3EECAC 0%, #EE74E1 100%);

}

.main button {
    background-color: rgb(219, 219, 219);
    padding: 5px 10px;
    border: none;
    border-radius: 12px;
}

button.btn {
    background-color: rgb(20, 20, 20);
    color: rgb(214, 214, 214);
    padding: 5px 10px;
    border: none;
    border-radius: 12px;
    box-shadow: none;
}

button.btn:hover {
    background-color: rgb(34, 34, 34);
    color: white;
}

button.btn:active {
    opacity: 0.7;
}

button.btn:focus {
    background-color: rgb(29, 29, 29);
}

.main button:hover {
    background-color: rgb(194, 194, 194);
    transition: background-color 1s ease;
}

.main button:active {
    opacity: 0.7;
}

input {
    border-radius: 12px !important;
}

input:focus {
    box-shadow: 0 0 0 .25rem #ced4da !important;
}

#userPhotoUpload,
#userPhotoprivacy,
#userPhotoView {
    width: 150px;
    height: 150px;
    border-radius: 75px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

@media screen and (max-width: 624px) {
    .main {
        flex-direction: column;
    }
}